<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有学科信息</title>
    <style>
        .user{
            float: right;
        }
        h1{
            display: inline-block;
        }
    </style>
</head>
<body>
<h1>所有学科</h1>
{% include 'header.html' %}
<hr>
{% for subject in subjects %}
<div>
    <h3>
        <a href="/teachers/?sno={{ subject.no }}">{{ subject.name }}</a>
        {% if subject.is_hot%}
            <img src="/static/images/hot.png" alt="hot" width="32">
        {% endif %}
    </h3>
    <p>{{ subject.intro }}</p>
</div>
{% endfor %}

</body>
</html>